<div class="card text-center" style="background-color: rgb(245, 245, 180);">
  <div class="card-body">
    <p class="card-text">© 2020 Copyright: Luis Antonio García Colunga</p>
    <a href="https://www.youtube.com/channel/UCmpW4KaF4UoxfhyeCCD0vCw"class="btn btn-primary" style="background-color: red;">Youtube</a>
  </div>
</div>
